<header>
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">


    <nav class="navbar navbar-expand-md justify-content-between">
      <a class="navbar-brand" href="/polls">Easy Poll</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/polls">Create Poll</a>
              <!-- <form class="form-inline d-flex justify-content-end" method="POST" action="/logout">
              <span class = "ml-sm-5 mr-sm-2" style="font-weight: normal;">Logged in as: &nbsp;</span>
              <input class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Log out"> -->
            <!-- </form>
              <a class="nav-item nav-link" href="/login">Login</a>
              <a class="nav-item nav-link" href="/register">Register</a>
        </div> -->
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Easy Poll</h1>
          <p class="lead">An easy way to create polls and make decisions faster!</p>
        </div>
      </div>
  </header>


