<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Poll</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <h3>Creator's Information</h3>
      <form class="needs-validation" novalidate="">
          <!-- <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Name: </label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">

          <div class="mb-3">
            <label for="email">Email: <span class="text-muted"></span></label>
            <input type="email" class="form-control" id="email" placeholder="">
          </div> -->
        <h3>Question</h3>
        <input type="email" class="form-control" id="email" placeholder="">

        <h3>Description</h3>
        <textarea>

        </textarea>

        <h3>Options</h3>
        <input type="text" class="form-control" id="option1" placeholder="Option 1"><br><br>
        <input type="text" class="form-control" id="option2" placeholder="Option 2"><br><br>
        <input type="text" class="form-control" id="option3" placeholder="Option 3"><br><br>
        <input type="text" class="form-control" id="option4" placeholder="Option 4"><br><br>

          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Create Form</button>
        </form>
  </body>
</html>
