<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
          <h3>Results of Poll</h3>
            <form class="needs-validation" novalidate="">

            <h3>Question</h3>
            <!--Add ejs to receive the info from the databse-->

            <h4>Description</h4>
            <!--Add ejs to receive the info from the databse-->

            <h3>Options</h3>
            <!--Add ejs to receive the info from the databse-->
            <h1> Total 1   %</h1>
            <h1> Total 2   %</h1>
            <h1> Total 3   %</h1>
            <h1> Total 4   %</h1>
        </form>
  </body>
</html>
