<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vote here!</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/votes.css" type="text/css" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <%- include('./partials/header'); %>

  <body>
      <form>
          <h2>Poll to vote</h2>

            <div class="form-group">
            <h4>Question?</h4>
            <!--Add ejs to receive the info from the databse-->
            </div>

            <div class="form-group">
            <h4>Description</h4>
            <label> This is the description of the question</label>
            <!--Add ejs to receive the info from the databse-->
            </div>

            <div class="form-group">
            <h4>Options</h4>
            </div>

            <div class="form-group">

              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">Option 1 <br> <label> Description of option</label> </button>
              </div><br><br>

              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">Option 2<br> <label> Description of option</label> </button>
              </div><br><br>

              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">Option 3 <br> <label> Description of option</label></button>
              </div><br><br>

              <div class="btn-group" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-secondary">Option 4 <br> <label> Description of option</label></button>
                </div><br><br>


            </div>

            <div class="form-group">
                <label for="firstName">Name: </label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            </div>

          <div class="form-group">
              <button class="btn btn-outline-success btn-lg btn-block" type="submit">Create Form</button>
            </div>

          </form>
  </body>
</html>






