
nav {
  background-color: #080300;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

a.navbar-brand {
  color: #45A29E;
  font-family: 'Electrolize', sans-serif;
}

a.nav-item.nav-link {
  color: #FFF;
}

div.jumbotron.jumbotron-fluid {
  background-color: #080300;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  color: #FFF
}

.display-4 {
  font-size: 4.5rem;
  color: #45A29E;
  font-family: 'Electrolize', sans-serif;
}
