
div.jumbotron.jumbotron-fluid {
  background-color: #080300;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  color: #FFF
}

.display-4 {
  color: #45A29E;
  font-family: 'Electrolize', sans-serif;
}
// .container {
// //position: relative;
// width: 50%;
// margin: 0 auto;
// }

form{
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0% 10%;
  padding: 25px;
  color: #fefefe;
  font-family: 'Jura', sans-serif;
}

// .form-group {
//   width: 50%;
//   margin: 0 auto;
// }
