
div.jumbotron.jumbotron-fluid {
  background-color: #080300;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  color: #FFF
}

.display-4 {
  color: #45A29E;
  font-family: 'Electrolize', sans-serif;
}
div.action_buttons {
  margin:50 auto;
  display:block;
  width: 40%;
}

